# <span style="color:navy;">SQL</span>

## <span style="color:navy;">SQL Introduction</span>
- Standard language for querying and manipulating data
    - **S**tructured **Q**uery **L**anguage
- Many standards out there:
    1. ANSI SQL, 
    2. SQL92 (SQL2) 
    3. SQL99 (SQL3)
        - Object-Relational features (e.g. user-defined types), recursion (supported in MySQL 8.0 using CTE)
    4. SQL:2003
        - XML (XML type columns are not supported in MySQL)
    - Vendors support various subsets of these.
- Note: An alternative name is Sequel (**S**tructured **E**nglish **QU**ery **L**anguage) from IBM project in 70's

In [1]:
%load_ext sql
%sql mysql+pymysql://dsci551:Dsci551@localhost:3306/dsci551

## <span style="color:navy;">Relational Algebra</span>
### Selection ($\sigma$)
- $\sigma_{GNP>1000}(country)$
### Join ($\bowtie$)
- $country\bowtie_{country.Capital=city.ID}(city)$
### Projection ($\pi$)
- $\pi_{GNP}(country)$
### Group by ($\gamma$)
- $\gamma_{Continent, \mathtt{AVG(}LifeExpectancy\mathtt{)} \rightarrow \mathtt{COUNT(}*\mathtt{)} > 5}(country)$
    - ```SQL 
      SELECT Continent, AVG(LifeExpectancy) as 'Avg_LE'
      FROM country
      GROUP BY Continent
      HAVING COUNT(*) > 5
      ```

### Distinct ($\delta$)
- $\delta_{Continent, Region}(country)$
    - ```SQL 
      SELECT DISTINCT Continent, Region
      FROM country
      ```
### Set/Bag Operations
- union: $\cup$, $\cup_b$
    - ```SQL 
      (SELECT Language FROM countryLanguage WHERE CountryCode = 'USA')
      UNION ALL
      (SELECT Language FROM countryLanguage WHERE CountryCode = 'CAN')
      ```
- intersect: $\cap$, $\cap_b$
- except: $-$, $-_b$

## Example
Using Beers(name, manf), what beers are made by Anheuser-Busch?

In [3]:
%sql SELECT name FROM Beers WHERE manf = 'Anheuser-Busch';

 * mysql+pymysql://dsci551:***@localhost:3306/dsci551
3 rows affected.

[('Bud',), ('Bud Lite',), ('Michelob',)]

The answer is a relation with a single attribute, `name`, with tuples listing the name of each beer by Anheuser-Busch, such as Bud.